---
layout: project_site
title: iDART - DH Course Project
project_title: Synthesizing Interactive Human Motion
project_subtitle: Digital Human Project
project_type: Course Group Project
project_front: /assets/imgs/P-others/front_page__DH_Project___Report___Synthesizing_Interactive_Human_Behavior.png
project_code: Python, PyTorch
project_time: FS 2025
project_place: ETH Zürich
project_link_abs: true
project_link_imgs: false
project_link_github: true
project_link_videos: true
project_link_bibtex: false
---
<a id="abs">
    <h3> Abstract </h3>
    <p> Text-conditioned human motion generation allows for intuitive control over digital humans via natural language. The recent framework DART enables real-time motion generation through latent diffusion and autoregressive control, also allowing goal-reaching motion. However, this model sometimes results in physically implausible results and collisions with the surrounding scene. To address this limitation, we present an extension of DART, incorporating the volumetric body model VolumetricSMPL. We leverage a signed distance field representation of the body model and incorporate it into the given DART framework. We show that our extension reduces collisions by more than 50% on average while maintaining adherence to high-level textual goals. Ablation studies further analyze the trade-offs introduced by volumetric constraints. Our results demonstrate that incorporating volumetric body geometry significantly improves scene-aware motion generation in complex 3D environments. </p>
</a>

<br>

<a id="videos">
  <h3> Video Compilation of Examples </h3>
  <div>
    <img width="840" height="473" src="https://github.com/seba-heck/iDART/raw/main/bin/examples/examples-compilation.gif" alt="Compilation of Examples" frameborder="0">
  </div>
</a>

<br>

<a id="github">
    <h3> GitHub Website </h3>
    {% include link_box.html 
        url="https://github.com/seba-heck/iDART" 
        img="../assets/imgs/icons/github-mark.svg" 
        website="seba-heck / iDART"
        content="<h2> iDART: Synthesizing Interactive Human Behavior </h2>
        <h3> Course group project for the course Digital Human at ETH Zürich.</h3>
        <p>
            Author: Liza Polupanova, David Blickenstorfer, Sebastian Heckers <br>
            Supervisor: Kaifeng Zhao
        </p>" 
        external=true %}
</a>

<!--
<br>

<a id="bibtex">
  <h3> BibTex Reference </h3>
  {% include code-box.html id="bibtex-code-ba" language="BibTex"
    content="    ...     " %}
</a>
-->