---
layout: standard_site
title: Projects Overview
---
<div style="margin:15vw;margin-top:5vh;">
  <h1>Projects and Thesis </h1>
  <p>Here are listed some of the projects and work I did during my semester:</p>
  
  <h3> Thesis </h3>

  {% include link_box.html 
    url="/projects/masterthesis.html" 
    img="/assets/imgs/P-ma_em_dataset_for_ml/MA_report_front_page.png" 
    website="Master Thesis"
    content="<h2>Electormagnetic Problems Dataset for Machine Learning</h2>
    <p>
        Author: Heckers, Sebastian <br>
        Supervisor: Stelian Coros, Miguel Zamora, Firat Ozdemir
    </p>" 
    paper=true %}

  {% include link_box.html 
    url="/projects/semesterthesis-2.html" 
    img="/assets/imgs/P-sa_ml_pde_3d/front_page__Report__MLPDEs3D.png" 
    website="Semester Thesis"
    content="<h2>Towards Machine Learning of PDEs in 3D</h2>
    <p>
        Author: Heckers, Sebastian <br>
        Supervisor: Stelian Coros, Miguel Zamora, Firat Ozdemir
    </p>" 
    paper=false %}

  {% include link_box.html 
    url="/projects/semesterthesis.html" 
    img="/assets/imgs/P-sa_dataset_generation_multi-material/008_SA_titelseite.png" 
    website="Semester Thesis"
    content="<h2>Dataset Generation of Multi-Material Deformable Objects</h2>
    <p>
        Author: Heckers, Sebastian <br>
        Supervisor: Stelian Coros, Miguel Zamora, Firat Ozdemir
    </p>" 
    paper=true %}

  {% include link_box.html 
    url="/projects/bachelorthesis.html" 
    img="/assets/imgs/P-ba_let_the_best_sim_win/000_BA_Titelseite.png" 
    website="Bachelor Thesis"
    content="<h2>Let the best sim win!</h2>
    <h3>Benchmarking simulators for deformable objects</h3>
    <p>
        Author: Heckers, Sebastian <br>
        Supervisor: Stelian Coros, Miguel Zamora, Hehui Zheng
    </p>" 
    paper=true %}
    
  <h3> Student Projects </h3>

  {% include link_box.html 
    url="/projects/dh-idart.html" 
    img="/assets/imgs/P-others/front_page__DH_Project___Report___Synthesizing_Interactive_Human_Behavior.png" 
    website="Course Group Project"
    content="<h2>iDart</h2>
    <p>
        Author: Heckers, Sebastian <br>
        Supervisor: Prof. Dr. Robert Katzschmann, Mike Yan Michelis 
    </p>" 
    paper=false %}

  {% include link_box.html 
    url="/projects/ome-population.html" 
    img="/assets/imgs/P-ome_population/front_page__OME_Project__Report.png" 
    website="Course Project"
    content="<h2>Discovery of PDEs with Population-Based Optimization</h2>
    <p>
        Author: Heckers, Sebastian <br>
    </p>" 
    paper=true %}

  {% include link_box.html 
    url="/projects/srcse-seminarproject.html" 
    img="/assets/imgs/P-srcse_variants_operator_learning/023_SRCSE-frontpage.png" 
    website="Research Project"
    content="<h2>Variants of Operator Learning</h2>
    <p>
        Author: Heckers, Sebastian <br>
        Supervisor: Prof. Dr. Robert Katzschmann, Mike Yan Michelis 
    </p>" 
    paper=true %}

  <!-- {% include link_box.html 
    url="/projects/se-black-peter.html" 
    img="/assets/imgs/se_project_blackpeter/logo.jpg" 
    website="Course Group Project"
    content="<h2>Black Peter - Software Engineering Project</h2>
    <p>
      Author: S. Heckers, M. Solanki, L. Keller, ... 
    </p>" 
    paper=false %} -->

  {% include link_box.html 
    url="/projects/spcs-abinitiomdatom.html" 
    img="/assets/imgs/P-srcs_abinitiomdatom/abinitiomdatom-teaser.png" 
    website="Course Group Project"
    content="<h2>AbInitioMDAtom</h2>
    <p>
      Author: S. Heckers, M. Solanki, T. Meier 
    </p>" 
    paper=false %}

</div>
