---
layout: standard_site
title: Projects Overview
---
<div style="margin:15vw;margin-top:5vh;">
  <h1>Projects and Thesis </h1>
  <p>Here are listed some of the projects and work I did during my semester:</p>
  
  <h3> Thesis </h3>

  {% include link_box.html 
    url="/projects/semesterthesis.html" 
    img="/assets/imgs/P-sa_dataset_generation_multi-material/008_SA_titelseite.png" 
    website="Semester Thesis"
    content="<h2>Dataset Generation of Multi-Material Deformable Objects</h2>
    <p>
        Author: Heckers, Sebastian <br>
        Supervisor: Stelian Coros, Miguel Zamora, Firat Ozdemir
    </p>" 
    paper=true %}

  {% include link_box.html 
    url="/projects/bachelorthesis.html" 
    img="/assets/imgs/P-ba_let_the_best_sim_win/000_BA_Titelseite.png" 
    website="Bachelor Thesis"
    content="<h2>Let the best sim win!</h2>
    <h3>Benchmarking simulators for deformable objects</h3>
    <p>
        Author: Heckers, Sebastian <br>
        Supervisor: Stelian Coros, Miguel Zamora, Hehui Zheng
    </p>" 
    paper=true %}
    
  <h3> Student Projects </h3>

  {% include link_box.html 
    url="/projects/srcse-seminarproject.html" 
    img="/assets/imgs/P-srcse_variants_operator_learning/023_SRCSE-frontpage.png" 
    website="Research Project"
    content="<h2>Variants of Operator Learning</h2>
    <p>
        Author: Heckers, Sebastian <br>
        Supervisor: Prof. Dr. Robert Katzschmann, Mike Yan Michelis 
    </p>" 
    paper=true %}

</div>
