<!-- Kopf -->
<header>
    <div style="background-color: #2965b5;">
    <table border="0" style="padding: 1%; width: 100%;"><tbody>
    <tr>
        <!-- Logo -->
        <td style="width: 5%; text-align: center;">
            <img id="icon" class="web-logo" alt="Logo S.H. Portfolio" width="100" height="100"/>
        </td>
        
        <!-- Titel -->
        <td style="width: 60%;">
            <h1 style="color: white; height: 20px; vertical-align: middle; margin-left:1%;">
            Sebastian Heckers		</h1>
        </td>
        
        <!-- Links -->
        <td style="width: 10%; text-align: left;">
            <a href="/index.html" style="text-decoration:none;">
            <p style="color: white; font-size: 20px; vertical-align: middle; margin-left:1%;">Start</p></a>
        </td>
        <td style="width: 10%; text-align: left;">
            <a href="/projects.html" style="text-decoration:none;">
            <p style="color: white; font-size: 20px; vertical-align: middle; margin-left:1%;">Projects</p></a>
        </td>
        <td style="width: 10%; text-align: left;">
            <a href="/about.html" style="text-decoration:none;">
            <p style="color: white; font-size: 20px; vertical-align: middle; margin-left:1%;">About</p></a>
        </td>
    
        <td style="width: 5%; text-align: right;">
            {% include darkmode_switch.html %}
            <!--
                    <div class="toggle-lang text">
                  <label> umschalten
                <input id="toggle-language" type="checkbox" checked> 
                <span class="slider"></span> 
                </label>
            </div>
                    -->
        </td>
    </tr>
    </tbody></table>
    </div>
    </header>	