<a class="link-section" href="{{ include.url }}">
    {% if include.external %}
        <img id="icon" class="link-icon" alt="external link" height="30%" width="auto"/>
    {% endif %}
    <div style="width:100%;height:auto;position: relative;">
        <div style="width: 14em; float: left;">
            <img class="link-img" src="{{ include.img }}" alt="teaser image" height="auto" width="auto"/>
        </div>
        <div style="margin-left: 15em;">
            <h3> {{  include.website }} </h3>
            {{ include.content }}
        </div>
    </div>
</a>
