<div style="width:100%;height:auto; display:block; margin-bottom:5vh;">

    {% if page.project_link_abs %}
        <a href="#abs" class="project-links"> ABS </a>
    {% endif %}
    {% if page.project_link_desc %}
        <a href="#desc" class="project-links"> DESC </a>
    {% endif %}
    {% if page.project_link_imgs %}
        <a href="#imgs" class="project-links"> IMGS </a>
    {% endif %}
    {% if page.project_link_paper %}
        <a href="#paper" class="project-links"> Paper </a>
    {% endif %}
    {% if page.project_link_videos %}
        <a href="#videos" class="project-links"> Videos </a>
    {% endif %}
    {% if page.project_link_files %}
        <a href="#files" class="project-links"> Files </a>
    {% endif %}
    {% if page.project_link_bibtex %}
        <a href="#bibtex" class="project-links"> BibTex </a>
    {% endif %}
    
<p style="display:flex;"></p>
</div>