/* change FONT */
html {
    font-family: "Chakra Petch", "Lucida Console", sans-serif;
}

/* rm default margin */
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, p, ol, ul, dl, dt, dd {
	color: var(--font-color);
}

:root {
	/* Farben */
    --background-color: #ffffff;
    --background2-color: #666;	
    --background3-color: #ccc;		
    --accent1-color: darkred;
    --accent2-color: orange;
    --accent3-color: #fede9e;
    --font-color: #000000;
    --font2-color: white;
    --font3-color: #656565;
    --link-color: darkred;
	--figcaption-color: #656565;
	/* Icons */
	--web-logo: url(/assets/imgs/icons/web-logo.svg);
	--external-link: url(/assets/imgs/icons/external-link-dark.svg);
}
  
:root.dark {
	/* Farben */
    --background-color: #666;
    --background2-color: #ccc;	
    --background3-color: #666;		
    --accent1-color: darkred;
    --accent2-color: orange;	
    --accent3-color: #fede9e;	
    --font-color: #fff;
    --font2-color: black;	
    --font3-color: #a9a9a9;	
    --link-color: orange;
	--figcaption-color: #ccc;
	/* Icons */
	--web-logo: url(/assets/imgs/icons/web-logo-dark.svg);
	--external-link: url(/assets/imgs/icons/external-link-light.svg);
}

figcaption {
	font-size: small;
	color: var(--figcaption-color);
}

/* ====================================================  FOOTER  ==================================================== */
.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #0e1428;
	margin-top: auto;
	--footer-font-color: #f7f3e3;
}
.github-mark {
	content: url(/assets/imgs/icons/github-mark-white.svg);
}
.footer-link {
	height: 7.5vh;
	display: flex;
	align-items: center;
}
span.footer-link-text {
	color: white;
	justify-content: center;
	align-items: center;
}
span.footer-link-icon {
	width:12%;
	color:white;
}
a.footer-a {
	color: var(--footer-font-color);
}

/* ====================================================  HEADER  ==================================================== */
img.web-logo {
    content: var(--web-logo);
}

/* ====================================================  MARKDOWN  ==================================================== */
.markdown-container {
	position: relative;
	display: inline-block;
    border: 2px solid black;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	background-color: white;
	margin-bottom: 20px;
}
.markdown-top {
	display: flex;
	justify-content: right;
	align-items: center;
	top: 0;
	padding: 5px 5px;
    border: 2px solid black;
	border-radius: 5px 5px 10px 10px;
	background-color: black;
	color: white;
}
.markdown-icon {
	background-color: white;
	border-radius: 3px;
	padding: 3px;
	margin-left: 10px;
	content: url(/assets/imgs/icons/markdown-mark.svg)
}

/* ====================================================  CODE  ==================================================== */
.code-container {
	position: relative;
	display: inline-block;
    border: 2px solid var(--font-color);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	background-color: var(--background3-color);
}
.code-container pre {
	padding: 1%;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.code-top {
	top: 0;
	padding: 10px 10px;
    border: 1px solid var(--font-color);
	border-radius: 10px;
	background-color: var(--background2-color);
	color: var(--font2-color);
}
.copy-button {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: var(--accent1-color);
	color: var(--font-color);
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
	cursor: pointer;
}

/* ====================================================  LINK  ==================================================== */
.link-section {
    font-size: 12px;
    font-family: tahoma;
    height: 13em;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    margin-bottom:0.5vh;
    padding-bottom: 1vh;
    padding-right: 1vh;
}

.link-section:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}

.link-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	border: 1px solid #ccc;
	max-width: 90%;
	max-height: 11em;
}

.link-icon {
    display: absolute;
    float: right;
    top: 0;
    right: 0;
    margin: 1vh;
    border-radius: 0.5vh;
    content: var(--external-link);
}

/* ====================================================  TOGGLE  ==================================================== */

.toggle-theme {
	padding:0.25vw;
	top: 0;
}

/* toggle-button für Dark Mode */
.toggle-theme label {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 1.5em;
	color: transparent;
}

.toggle-theme label:before,
.toggle-theme label:after {
	/* Mond-Icon */
	position: absolute;
	content:'';
	background: rgb(226, 246, 254) url('../imgs/icons/moon.svg');
  background-size: 1em 1em;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  top: 0;
  bottom: 0;
	border-radius: 50%;
}
.toggle-theme label:before {
  background-image: url('../imgs/icons/moon.svg');
	left: 0;
}
.toggle-theme label:after {
  background-image: url('../imgs/icons/sun.svg');
	right: -.5em;
}

.toggle-theme input {
	display: none;
}

.toggle-theme .slider {
	/* Grundfläche */
	position: absolute;
	cursor: pointer;
	right: 0.75em;
	width: 3em;
	height: 1em;
	top: 0;
	bottom: 0;
	background-color: var(--accent3-color); /* dunkel */
	transition: all .3s ease-in-out;
	border-radius: 1em;
}

.toggle-theme .slider:before {
	/* verschiebbarer Button */
	position: absolute;
	content:'';
    background: var(--accent2-color);
    background-size: 1em 1em;
    background-repeat: no-repeat;
    height: 1.25em;
    width: 1.25em;
	bottom: -0.125em;
	left: -0em;
	border-radius: 50%;
	transition: all .3s ease-in-out;
}

.toggle-theme input:checked + .slider {
	background-color: #666;	/* hell */
}

.toggle-theme input:checked + .slider:before {
	transform: translateX(1.9em);
}


.toggle-lang {
	padding:0.25vw;
	bottom:0;
}

/* toggle-button für Dark Mode */
.toggle-lang label {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 1.5em;
	color: transparent;
}

.toggle-lang label:before,
.toggle-lang label:after {
	/* Mond-Icon */
	position: absolute;
	content:'';
	background: url('../imgs/icons/germany.svg');
  background-size: 1em 1em;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  top: 0;
  bottom: 0;
}
.toggle-lang label:before {
  background-image: url('../imgs/icons/germany.svg');
	left: 0;
}
.toggle-lang label:after {
  background-image: url('../imgs/icons/britain.svg');
	right: -.5em;
}

.toggle-lang input {
	display: none;
}

.toggle-lang .slider {
	/* Grundfläche */
	position: absolute;
	cursor: pointer;
	right: 0.75em;
	width: 3em;
	height: 1em;
	top: 0;
	bottom: 0;
	background-color: var(--accent3-color); /* dunkel */
	transition: all .3s ease-in-out;
	border-radius: 1em;
}

.toggle-lang .slider:before {
	/* verschiebbarer Button */
	position: absolute;
	content:'';
    background: var(--accent2-color);
    background-size: 1em 1em;
    background-repeat: no-repeat;
    height: 1.25em;
    width: 1.25em;
	bottom: -0.125em;
	left: -0em;
	border-radius: 50%;
	transition: all .3s ease-in-out;
}

.toggle-lang input:checked + .slider {
	background-color: #666;	/* hell */
}

.toggle-lang input:checked + .slider:before {
	transform: translateX(1.9em);
}

.toggle-text .slider:after {
	/* Text vor dem FlipFlop-Schalter */
	position: absolute;
	content: "dunkel";
	color: transparent;
	font-weight: bold;
	height: 1.6em;
	left: -3.5em;
	bottom: 0.2em;
}

.toggle-text input:checked + .slider:after {
	/* Text hinter dem FlipFlop-Schalter */
	position: absolute;
	content: "hell";
	color: transparent;
	left: 4.5em;
}
